
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <style type="text/css">
        .masklayer {
            position: absolute;
            top: 0px;
            filter: alpha(opacity=60);
            background-color: #777;
            z-index: 1002;
            left: 0px;
            opacity: 0.5;
            -moz-opacity: 0.5;
        }
    </style>
    <title>login</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(function () {
            $('#userId').val("admin");
            $('#password').val("123456");
        });

    </script>
</head>
<body>
    <div class="container" style="background-color:antiquewhite">
        <form class="form-horizontal" role="form" method="post" action="/Home/login">
            <div class="form-group">
                <label for="serverNm" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="userId" name="userId"
                           placeholder="用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="ipAddress" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-2">
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="密码">
                </div>
            </div>
            <div class="form-group">
                <label for="point" class="col-sm-2 control-label">语言</label>
                <div class="col-sm-2">
                    <select class="form-control" name="language" id="language">
                        <option value="0">中文</option>
                        <option value="1">中文(繁体)</option>
                        <option value="2">英文</option>
                        @*<option value="3">类型2</option>*@
                    </select>
                </div>
            </div>
            @*<div class="form-group">
                <label for="accountname" class="col-sm-2 control-label">帐套</label>
                <div class="col-sm-2">
                    <select class="form-control" name="accountid" id="accountid" onclick="GetAccout()">
                        <option value="1"></option>
                    </select>
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" onclick="return logincheck()" class="btn btn-default">登录</button>
                </div>
            </div>
        </form>
    </div>
    <div id="masklayer" class="masklayer"></div>
</body>
</html>
<script>
    function logincheck() {
        //return false;
    }
</script>

