@model BWYSDPWeb.Models.ErrorObject
<div class="container-fluid">
    <div class="panel panel-default">
        错误页面:
        <div>
            @Model.Message 
        </div>
        <div>
            @Model.Stack 
        </div>
    </div>
 </div>
