@model BWYSDPWeb.Models.ErrorObject
<div class="container-fluid">
    <div class="panel panel-default">
        <div style="font-size:20px;"> @Model.Title</div>
        <div style="font-size:18px; color:red">
            @Model.Message 
        </div>
        <div>
            @Model.Stack 
        </div>
    </div>
 </div>
